body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* LOGIN CENTRADO */
.login-body {
    padding: 0;              /* CLAVE */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f6f8;
}

/* TARJETA LOGIN */
.card {
    background: white;
    padding: 40px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.12);
    text-align: center;
}

/* INPUTS LOGIN */
.card input {
    margin-bottom: 12px;
}

/* MENSAJE ERROR */
#error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #0056b3;
}

/* LISTA DE PRODUCTOS */
#ProductContainer div {
    background: white;
    padding: 15px;
    margin: 15px auto;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.08);
}


/* BOTÓN CERRAR SESIÓN ABAJO */
.logout-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#logoutBtn {
    background: #e53e3e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

#logoutBtn:hover {
    background: #c53030;
}
